html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit; /*causes the element for which it is specified to take the Computed value of the property from its parent element.*/
	vertical-align: baseline; /*Align the baseline of the element with the baseline of its parent.*/
	text-decoration: none;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/*Removes quotes from q tag and blockquote tag*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*In the collapsed border model, adjacent table cells share borders.*/
/*http://docs.panic.com/#css/border-collapse*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	display: block;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.box-model {
	margin: 1rem;
	padding: 1rem;
	background: #000;
}



   /*------- Floats --------*/

   .f-left {
	float: left;
}

.f-right {
	float: right;
}


/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}




/*  ----------------------Media Querry Template------------------------------- */

/* @supports (grid-area: auto) {
  
	.site {
	  max-width: none;
	}
  
	.head,
	.main > *,
	.foot {
	  display: grid;
	  grid-template-columns: repeat(1, 1fr);
	}
  
	.one-item {
	  display: grid;
	  grid-column: 1 / span 2;
	  grid-template-columns: 1fr;
	}
  
	.two-items {
	  display: grid;
	  grid-column: 1 / span 2;
	  grid-template-columns: repeat(1, 1fr);
	  justify-content: space-evenly;
	  row-gap: 2em;
	  column-gap: 2em;
	}
  
	.three-items {
	  display: grid;
	  grid-column: 1 / span 2;
	  grid-template-columns: repeat(3, 1fr);
	  justify-content: space-evenly;
	  row-gap: 2em;
	  column-gap: 2em;
	}
  
	.footer-grid {
	  display: grid;
	  grid-column: 1 / span 2;
	  grid-template-columns: repeat(3, 1fr);
	  justify-content: space-evenly;
	  row-gap: 2em;
	  column-gap: 2em;
	  align-items: center;
	}
  
	.custom-override {
	  display: grid;
	  grid-column: 1 / span 2;
	  grid-template-columns: 1fr;
	}

	
	@media screen and (min-width: 768px) {
	  .site {
		max-width: none;
	  }
  
	  .head,
	  .main > *,
	  .foot {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
	  }
  
	  .one-item {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	  }
  
	  .two-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	  }
  
	  .three-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	  }
  
	  .four-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	  }
  


  
	}
  
	@media screen and (min-width: 1024px) {
	  .site {
		max-width: none;
	  }
  
	  .head,
	  .main > *,
	  .foot {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
	  }
  

	  .one-item {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: 1fr;
	  }
  
	  .two-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
	  }
  
	  .three-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	  }
  
	  .four-items {
		display: grid;
		grid-column: 2 / span 2;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	  }
  


	}
  
  }
   */